In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pre_season=pd.read_csv("C:/Users/Jang/Desktop/python/Data/야구/Pre_Season_Batter.csv")
regular=pd.read_csv("C:/Users/Jang/Desktop/python/Data/야구/Regular_Season_Batter.csv")
regular_Day=pd.read_csv("C:/Users/Jang/Desktop/python/Data/야구/Regular_Season_Batter_Day_by_Day_b4.csv")
sub=pd.read_csv("C:/Users/Jang/Desktop/python/Data/야구/submission.csv")

1. ops 0.9 넘는 row
2. batter_name 박석민인 row
3. 이름이 박석민이면서 year가 2009

In [3]:
regular.loc[regular['OPS']>0.9]

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519000,0.383000,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902000
53,4,강민호,2015,롯데,0.311,123,380,63,118,18,...,14,0.639000,0.421000,8,185cm/100kg,1985년 08월 18일,포수(우투우타),제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,1.060000
54,4,강민호,2016,롯데,0.323,116,381,65,123,26,...,7,0.549000,0.433000,4,185cm/100kg,1985년 08월 18일,포수(우투우타),제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.982000
78,7,강봉규,2009,삼성,0.310,126,449,89,139,24,...,15,0.505568,0.406130,4,NaN,1978년 01월 12일,NaN,부천초-개성중-경남고-고려대-두산-삼성,NaN,0.911698
95,10,강정호,2012,넥센,0.314,124,436,77,137,32,...,16,0.559633,0.417154,12,NaN,1987년 04월 05일,NaN,화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센,NaN,0.976787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392,334,호잉,2018,한화,0.306,142,529,85,162,47,...,5,0.573000,0.369000,4,190cm/92kg,1989년 05월 18일,외야수(우투좌타),미국 Fort Loramie(고)-미국 Toledo(대),300000달러,0.942000
2403,336,홍성흔,2009,롯데,0.371,119,426,71,158,33,...,15,0.532864,0.441667,0,NaN,1977년 02월 28일,NaN,공릉초(강북리틀)-중앙중-중앙고-경희대-두산-롯데,NaN,0.974531
2404,336,홍성흔,2010,롯데,0.350,111,431,88,151,28,...,18,0.600928,0.430894,0,NaN,1977년 02월 28일,NaN,공릉초(강북리틀)-중앙중-중앙고-경희대-두산-롯데,NaN,1.031822
2408,336,홍성흔,2014,두산,0.315,124,447,63,141,19,...,13,0.496644,0.405825,0,NaN,1977년 02월 28일,NaN,공릉초(강북리틀)-중앙중-중앙고-경희대-두산-롯데,NaN,0.902470
2443,342,황재균,2016,롯데,0.335,127,498,97,167,26,...,10,0.570000,0.394000,15,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.964000

In [4]:
regular.loc[regular['batter_name']=='박석민']

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
797,115,박석민,2004,삼성,0.103,23,29,2,3,1,...,3,0.241,0.188,1,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.429
798,115,박석민,2005,삼성,0.198,52,81,7,16,3,...,3,0.259,0.283,3,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.542
799,115,박석민,2008,삼성,0.279,126,416,65,116,27,...,15,0.450,0.385,18,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.835
800,115,박석민,2009,삼성,0.285,97,295,63,84,17,...,5,0.586,0.416,6,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,1.002
801,115,박석민,2010,삼성,0.303,112,356,58,108,18,...,14,0.480,0.440,7,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.920
802,115,박석민,2011,삼성,0.278,128,457,74,127,24,...,13,0.442,0.374,13,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.816
803,115,박석민,2012,삼성,0.312,127,443,79,138,19,...,8,0.524,0.433,12,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.957
804,115,박석민,2013,삼성,0.318,117,396,61,126,24,...,13,0.515,0.425,10,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.940
805,115,박석민,2014,삼성,0.315,110,356,77,112,21,...,12,0.601,0.419,12,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,1.020
806,115,박석민,2015,삼성,0.321,135,448,90,144,25,...,13,0.551,0.441,14,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.992
807,115,박석민,2016,NC,0.307,126,427,77,131,20,...,18,0.578,0.404,15,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.982
808,115,박석민,2017,NC,0.245,101,319,43,78,15,...,17,0.423,0.369,9,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.792
809,115,박석민,2018,NC,0.255,103,318,40,81,14,...,11,0.456,0.360,4,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.816

In [5]:
regular.loc[(regular['batter_name']=='박석민')&(regular['year']==2009)]

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
800,115,박석민,2009,삼성,0.285,97,295,63,84,17,...,5,0.586,0.416,6,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,1.002

for 문

In [7]:
for i in ['박석민','채태인','최형우','박해민']:
    print(regular.loc[regular['batter_name']==i]['OPS'].mean())

0.8494615384615384
0.7950833333333335
0.9003076923076923
0.7525999999999999

In [10]:
for i in [0,1,2,3]:
    print(regular['OPS'].iloc[i])

0.902
0.0
0.6859999999999999
0.6729999999999999